
body{
  font-family: "Roboto", sans-serif;
  background-color:white;
}

/* header*/
nav{
  background-color:#f4f4f4;
}
.one-colors {
  color: #015776;
  font-size: 30px;
}
.two-colors {
  color: #644d15;
  font-size: 30px;
}
svg {
  color: #015776;
  
}

#nav-menu {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

