
body{
  font-family: "Roboto", sans-serif;
  background-color:white;
}

/* header*/
nav{
  background-color:#f4f4f4;
}
.one-colors {
  color: #015776;
  font-size: 30px;
}
.two-colors {
  color: #644d15;
  font-size: 30px;
}
svg {
  color: #015776;
  
}

#nav-menu {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url('../img/star-empty.png');
  background-size: cover;
  transition: background-image 0.3s;
}

.rating label.filled {
  background-image: url('../img/star-filled.png');
}

.rating label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  opacity: 0;
}

.rating label:hover:before, .rating label:hover ~ label:before {
  opacity: 1;
}