.container {
  margin-top: 20px;
  margin-bottom: 2px;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.form {
  max-width: 430px;
  width: 100%;
  border-radius: 6px;
  padding: 60px;
  background: #f4f4f4;
}
.header-form {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #cacaca;
}
.field input:focus{
 border-bottom-width: 2px;
}
.eye-icon {
  font-size: 18px;
  color: rgba(0, 0, 255, 0.697);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
}
.field button {
  color: #fff;
  background-color: #0171d3;
  transition: all 0.3s ease;
  cursor: pointer;
}
.field button:hover {
  background-color: #016dcb;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}
.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}
.form a {
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before {
  content: "Ou";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  color: #232836;
  padding: 0 15px;
}
.media-options a{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
